.App {
  font-family: sans-serif;
  text-align: center;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
}

.App h1 {
  color: white;
}

.App h2 {
  text-align: center;
  text-decoration: line-through;
  font-variant: small-caps;
}

.App p {
  text-decoration: underline;
}

.AppSecond {
  font-family: sans-serif;
  text-align: justify;
  background-color: #f2f3f4;
  border-radius: 5px;
  padding: 5px;
}

.AppSecond h1 {
  text-align: left;
  font-variant: small-caps;
}

.AppSecond h2 {
  font-size: 14px;
  color: cadetblue;
}

.AppThird h3 {
  text-align: center;
  text-decoration: underline;
}

.AppThird p {
  text-align: justify;
}
